:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: gray;
}

.headR {
    background-color: rgb(148, 80, 148);
}

.history {
    background-color: rgb(107, 187, 160);
    min-height: 100vh;
    height: 100%;
}

.list {
    min-height: 100%;
    display: flex;
}

.hList {
    display: flex;
    list-style-type: none;
}

.dCard {
    background-color: rgb(29, 29, 60);
    border: 2px solid white;
    color: white;
    margin: 2px;
}